@import '../../node_modules/normalize.css/normalize.css';
@import "fonts.scss";
@import "_helper.scss";
@import "mixins.scss";
@import "main.scss";


$red: #ff192f;
$blue: #1b4655;
$grey: #555555;

*{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol, li{
  padding: 0;
  margin: 0;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 15px;
}


//custom styles

.hide-mobile{

  @include for-992{
    display: none;
  }
}

.hide-desktop{

  @media (min-width: 992px) {
    display: none;
  }
}

.site-input{
  max-width: 365px;
  width: 100%;
  display: flex;

  &.correct{

    input{
      border-color: mediumspringgreen;
    }
  }

  &.error-field{

    input{
      border-color: $red;
    }
  }

  input{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    line-height: 42px;
    border-radius: 21px;
    outline: none;
    width: 100%;

    @include for-992{
      font-size: 16px;
    }
  }
}

.site-checkbox{

  input{
    display: none;
    font-size: 16px;

    &:checked + label{

      &:after{
        opacity: 1;
      }
    }
  }

  label{
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    display: flex;
    position: relative;
    cursor: pointer;

    &:after{
      content: '';
      position: absolute;
      left: 3px;
      top: -10px;
      width: 9px;
      height: 19px;
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
      transform: rotate(45deg);
      opacity: 0;
      transition: .2s;
    }
  }
}

.boh{
  overflow: hidden;
}

.site-container-wrap{
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-container{
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;

  @include for-1200{
    padding: 0 15px;
  }
}

.site-btn{
  background: $red;
  transition: .3s;
  box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);
  width: 100%;
  max-width: 255px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid $red;

  &:hover{
    background: white;

    span {
      color: $red
    }
  }

  span{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 44px;
    transition: .3s;
  }

  &--revers{
    background: white;
    box-shadow: none;

    span{
      color: $red;
    }

    &:hover{
      background: $red;
      box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);

      span{
        color: white;
      }
    }
  }
}

.site-title{
  text-align: center;
  color: $blue;
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 30px;

  @include for-768{
    font-size: 28px;
    line-height: 32px;
  }
}

.site-desc{
  color: $grey;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;

  @include for-768{
    line-height: 20px;
  }
}

//custom styles end

.header{

  @include for-992{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__top{
    display: flex;
    margin: 0 -15px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @include for-992{
      background: white;
      padding: 15px 0;
    }
  }

  &__top-logo{
    padding: 0 15px;
  }

  &__top-logo-link{
    display: flex;
    max-width: 255px;
    width: 100%;

    @include for-992{
      max-width: 100%;
      width: 50px;
    }
  }

  &__top-logo-img{
    width: 100%;
  }

  &__top-phone{
    padding: 0 15px;
    display: flex;

    @include for-992{
      display: none;
    }
  }

  &__top-phone-ico{

  }

  &__top-phone-ico-i{
    width: 36px;
    height: 36px;
    background: url("../img/ico/phone-plus.svg") center no-repeat;
    background-size: contain;
  }

  &__top-phone-number{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  &__top-phone-number-i{
    font-size: 24px;
    font-weight: 500;
    color: #1e2528;
    transition: .3s;

    &:hover{
      color: $red;
    }
  }

  &__top-phone-number-txt{
    font-size: 12px;
    font-weight: 500;
    color: #1e2528;
  }

  &__top-btn{
    padding: 0 15px;
    max-width: 255px;
    width: 100%;

    @include for-992{
      //display: none;
    }
  }

  &__top-btn-i{
    @include for-992{
      box-shadow: none;
    }

    @include for-768{

      span{
        font-size: 12px;
        line-height: 34px;
      }
    }
  }

  &__nav{

    @include for-992{
      background: white;
      position: relative;
      transition: .2s;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      max-height: 0;
      overflow: hidden;

      &.show{
        visibility: visible;
        opacity: 1;
        z-index: 1;
        max-height: 1000px;
        overflow: inherit;
      }

      &:before{
        content: '';
        width: calc(100% + 30px);
        height: 100%;
        margin-left: -15px;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        background: white;
        z-index: 1;
      }

      &:after{
        content: '';
        position: absolute;
        height: 20%;
        bottom: 0;
        left: 0;
        margin-left: -15px;
        width: calc(100% + 30px);
        box-shadow: 0px 2px 15px 0px rgba(222, 39, 43, 0.4);
        z-index: 0;
      }
    }
  }

  &__nav-inner{
    padding-top: 15px;
    padding-bottom: 15px;

    @include for-992{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__top-menu{
    display: none;
    padding: 0 15px;

    @include for-992{
      display: flex;
    }

    &.show .header__top-menu-btn{
      background-image: url("../img/ico/close.svg");
    }
  }

  &__top-menu-btn{
    height: 47px;
    width: 47px;
    display: flex;
    border-radius: 50%;
    background-color: $red;
    background-image: url("../img/ico/burger.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .1s;
  }

  &__nav-phone{
    display: none;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $red;
    z-index: 2;

    .header__top-phone{
      padding: 0;
    }

    @include for-992{
      display: flex;

      .header__top-phone{
        display: flex;
      }
    }
  }
}

.nav{
  display: flex;

  @include for-992{
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 171px);
  }

  &__item{
    margin-right: 60px;
    display: flex;
    position: relative;
    z-index: 2;

    @include for-1600{
      margin-right: 40px;
    }

    @include for-992 {
      margin-right: 0;
      flex-direction: column;

      &.open {

        .nav__subnav {
          max-height: 500px;
        }

        .nav__link{
          color: $red !important;
        }

        .nav__subnav-btn{
          background-image: url("../img/ico/arrow-red.svg") !important;
        }
      }

      &:first-child{
        border-top: 1px solid $red;
      }
    }

    &:last-child{
      margin-right: 0;
    }

    &:hover{
      //background: white;

      .nav__link{
          color: $red;
      }

      .nav__subnav-btn{
        background-image: url("../img/ico/arrow-red.svg");
      }

      .nav__subnav{
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }

      @include for-992{
        .nav__subnav-btn{
          background-image: url("../img/ico/arrow.svg");
        }

        .nav__link{
          color: $blue;
        }
      }
    }

    &--desctop-hide{
      display: none;

      @include for-992{
        display: flex;
      }
    }
  }

  &__link{
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    color: $blue;
    z-index: 3;
    position: relative;

    &:hover{
      color: $red;
    }

    @include for-992{
      line-height: 40px;
      width: fit-content;
    }
  }

  &__subnav-btn{
    cursor: pointer;
    width: 16px;
    height: 100%;
    background-image: url("../img/ico/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transition: .1s;
    margin-left: 10px;
    z-index: 3;
    position: relative;

    @include for-992 {
      position: absolute;
      top: 0;
      height: 40px;
      right: 10px;

      &:after{
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        height: 100%;
        width: 46px;
      }
    }
  }

  &__subnav{
    position: absolute;
    transition: .3s;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 100%;

    @include for-992 {
      position: static;
      visibility: visible;
      opacity: 1;
      padding-left: 20px;
      max-height: 0;
      overflow: hidden;
    }


    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% + 60px);
      margin-left: -30px;
      height: calc(100% + 60px);
      margin-top: -60px;
      background: white;
      z-index: 1;
      border-radius: 21px;
      box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);

      @include for-992 {
        display: none;
      }
    }
  }

  &__subnav-item{
    margin-bottom: 30px;
    position: relative;
    z-index: 2;


    &:last-child{
      margin-bottom: 15px;

      @include for-992 {
        margin-bottom: 0;
      }
    }

    @include for-992 {
      margin-bottom: 0;
    }
  }

  &__subnav-link{
    font-size: 15px;
    color: $blue;
    transition: .3s all;
    max-width: 195px;
    display: flex;

    &:hover{
      color:  $red;
    }

    @include for-992{
      line-height: 24px;
    }
  }

}

.page__wrapper{
  position: relative;
}

.page__content{
  min-height: calc(100vh - 258px);

  @include for-992{
    margin-top: 76px;
  }
}

.page-bg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 790px;
  width: 100%;
  height: 840px;
  z-index: -1;

  @include for-1800{
    max-width: 640px;
  }

  @include for-1600{
    max-width: 475px;
    height: 725px;
  }

  @include for-1200{
    max-width: 430px;
    height: 785px;
  }

  @include for-1100{
    max-width: 360px;
    height: 835px;
  }

  @include for-992{
    max-width: 100%;
    height: 420px;
    opacity: .2;
    overflow: hidden;
  }

  &__inner{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;

    @include for-1600{
      background-size: auto;

    }
  }

  &__img{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    //background-position: calc(100% + 20px) center;

    @include for-1600{
      background-position: center;
    }

    @include for-992{
      background-size: cover;
      background-position: right top;
    }
  }

  &__border{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;

    @include for-992{
      background-size: cover;
      background-position: left bottom;
    }
  }
}

.top-block{

  &__inner{
    padding-top: 100px;
    min-height: 700px;

    @include for-1600{
      min-height: 450px;
    }

    @include for-992{
      min-height: 475px;
      padding-top: 40px;
    }
  }

  &__content{
    max-width: 555px;
    width: 100%;

    @include for-768{
      max-width: 100%;
    }

    &--red {
      color: $red;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      width: 100%;

      @include for-768{
        font-size: 14px;
        text-align: center;
        display: inline-block;
      }
    }
  }

  &__title, h1{
    font-size: 49px;
    font-weight: 500;
    color: $blue;
    margin: 30px 0;
    line-height: 65px;

    @include for-1600{
      font-size: 40px;
      line-height: 44px;
      margin: 15px 0;
    }

    @include for-768{
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }
  }

  p {
    font-size: 15px;
    line-height: 27px;
    color: $grey;
    margin-bottom: 30px;
    text-align: justify;
  }

  &__btn{
    margin: 15px 0;

    @include for-768{
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

}

.activities{

  &__inner{

    @include for-992{
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__title{

  }

  &__desc{

  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include for-768{
      margin: 0;
      display: block;
    }
  }

  &__item{
    padding: 0 15px;
    width: 25%;
    margin-bottom: 30px;

    @include for-992{
      width: 33.33333%
    }

    @include for-768{
      width: 100%;
    }
  }

  &__content{
    padding: 15px 15px 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e6ea;
    transition: .3s;
    height: 100%;

    @include for-768{
      align-items: center;
    }

    &:hover{
      box-shadow: 0px 15px 40px 0px rgba(4, 11, 49, 0.1);
      border-color: transparent;

      @include for-768{
        box-shadow: 0 0 20px 0 rgba(4,11,49,.1);
      }
    }
  }

  &__img{
    width: 100%;
    height: 230px;
  }

  &__img-i{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__name{
    padding: 30px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $blue;
    font-weight: 600;
    font-size: 21px;
  }

  &__btn{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__btn-i{

  }

}

#activities-slider{

  .slick-dots{

    li{
      margin: 0;

      button{

        &:before{
          content: '';
          width: 11px;
          height: 11px;
          background: $grey;
          border-radius: 50%;
        }
      }

      &.slick-active{

        button{

          &:before{
            background: $red;
            opacity: 1;
          }
        }
      }
    }
  }
}

.half-block{
  position: relative;

  &__bg{
    position: absolute;
    left: 0;
    top: -180px;
    width: 45%;
    height: 1105px;
    z-index: -1;

    @include for-992{
      width: calc(100% - 15px);
      max-width: 550px;
      opacity: .2;
      height: 1000px;
      background-size: contain;
    }

    @include for-550{
      top: -50px;
      max-width: 100%;
    }

    &--img{
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 100%;
      height: 100%;

      @include for-992{
        display: none;
      }
    }

    &--img-mobile{
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 100%;
      height: 100%;
      display: none;

      @include for-992{
        display: block;
      }
    }
  }

  &__inner{

  }

  &__content{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 550px;
    width: 100%;
    margin-left: auto;

    @include for-992{
      max-width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

}

.txt-block{

  &__title{
    color: $blue;
    font-size: 39px;
    font-weight: 500;
    margin-bottom: 30px;

    @include for-768{
      font-size: 28px;
      line-height: 32px;
      text-align: center;
    }
  }
  
  p{
    color: $grey;
    margin-bottom: 15px;
    text-align: justify;

    strong{
      color: #333333;
    }

    a{
      color: $red;
      font-weight: 600;
      transition: .3s;
      position: relative;
      display: inline-block;

      &:hover{
        color: $blue;
      }
    }
  }

  &__ico-list{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    padding-top: 15px;

    @include for-768{
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__ico-item{
    width: 33.33333%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    @include for-768{
      width: 50%;
    }
  }

  &__ico-i{
    width: 60px;
  }

  &__ico-txt{
    text-align: center;
    color: #333333;
    font-weight: 600;
    padding-top: 15px;
  }

}

.why-are-we{

  &__inner{

  }

  &__title{

  }

  &__desc{

  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 30px;

    @include for-768{
      padding-top: 0;
    }
  }

  &__item{
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 50px;

    @include for-1600{
      margin-bottom: 30px;
    }

    @include for-992{
      width: 50%;
    }

    @include for-550{
      width: 100%;
      margin-bottom: 5px;
    }
  }

  &__content{
    display: flex;
  }

  &__ico{
    width: 115px;
    position: relative;
    margin-right: -10px;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #ebf8fd;

      @include for-992{
        width: 75px;
        height: 75px;
      }

      @include for-550{
        width: 55px;
        height: 55px;
      }
    }
  }

  &__ico-i{
    font-size: 200px;
    color: $blue;
    font-weight: 600;
    line-height: 150px;
    position: relative;
    z-index: 2;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px $blue;

    @include for-992{
      font-size: 130px;
      line-height: 100px;
    }

    @include for-550{
      font-size: 110px;
      line-height: 100px;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__name{
    color: $blue;
    font-size: 21px;
    font-weight: 600;
    padding: 0 10px 0 20px;
  }

  &__txt{
    color: grey;
    padding: 20px 10px 20px 20px;
    background: url("../img/why-are-we-bg.png");
  }

}

.about-center{
  padding-top: 50px;
  padding-bottom: 100px;

  @include for-768{
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.breadcrumbs{

  &__inner{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
  }

  &__link{
    line-height: 27px;
    color: $red;
    text-decoration: underline;
    position: relative;
    margin-right: 14px;
    transition: .2s;

    &:hover{
      text-decoration: none;
    }

    &:after{
      content: '»';
      text-decoration: none;
      color: $grey;
      position: absolute;
      right: -10px;
    }


    &:last-child{
      color: $grey;
      text-decoration: none;
      margin-right: 0;
      cursor: auto;

      &:after{
        display: none;
      }
    }
  }

}

.double-page{

  &__inner{
    display: flex;
    justify-content: space-between;

    @include for-1100{
      flex-direction: column;
    }
  }

  &__content{
    width: 100%;
  }

  &__sidebar{
    width: 256px;
    margin-left: 30px;
    padding-top: 700px;

    @include for-1600{
      padding-top: 450px;
    }

    @include for-1100{
      padding-top: 0;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.sidebar{

  &__inner{

  }

  &__section{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 21px;
    box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);
    overflow: hidden;
    background: white;

    @include for-1100 {
      &--hide-mobile {
        display: none;
      }
    }
  }

  &__section-head{
    background: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    height: 44px;
  }

  &__section-list{
    padding: 20px 30px;
  }

  &__section-link{
    display: flex;
    margin-bottom: 15px;
    color: #333;
    line-height: 20px;
    transition: .2s;

    &:last-child{
      margin-bottom: 0;
    }

    &:hover{
      color: $red;
    }
  }

}

#licenses-slider{

  .licenses-block__item{

    @include for-1100 {
      padding: 15px;
    }
  }

  .licenses-block__img{
    width: 100%;
  }

  .slick-arrow{
    top: -20px;
    left: auto;
    right: auto;

    &:before{
      content: '';
      height: 15px;
      width: 14px;
      background-image: url("../img/ico/arrow-w.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
  }

  .slick-prev{
    left: 30px;
  }

  .slick-next{
    right: 30px;

    &:before{
      transform: rotate(180deg);
    }
  }
}


.seo-block {

  &--w70 {
    width: 70%;

    @include for-1200{
      width: 50%;
    }

    @include for-992 {
      width: 100%;
    }
  }

  &__title, h1 {
    font-weight: 500;
    color: $blue;
    font-size: 49px;
    line-height: 69px;

    @include for-1600 {
      font-size: 40px;
      line-height: 44px;
      margin: 15px 0;
    }

    @include for-768{
      font-size: 30px;
      line-height: 36px;
    }
  }

  p {
    color: $grey;
    margin-bottom: 25px;
    line-height: 20px;
    text-align: justify;

    a {
      color: $red;
      text-decoration: underline;
      transition: .1s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__subtitle, h2 {
    font-weight: 500;
    color: $blue;
    font-size: 29px;
    line-height: 45px;
    margin-bottom: 25px;

    @include for-768{
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__table {
    margin-bottom: 25px;
    padding: 30px;
    box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);
    background: white;
    border-radius: 21px;

    @include for-992{

      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 1em;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $blue;
      }

      .seo-block__table-big-wrap{
        width: 992px;
      }
    }

    @include for-768{
      padding: 10px;

      .seo-block__table-big-wrap{
        width: 768px;
      }
    }

    @include for-550{
      .seo-block__table-big-wrap{
        width: 530px;
      }
    }

    table {
      width: 100%;
      border-spacing: initial;

      thead {

        td[colspan] {

          .seo-block__table-head-wrap {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;

            @include for-768{
              flex-direction: column;
              padding-bottom: 15px;
            }
          }

          .seo-block__table-title {
            color: $blue;
            font-weight: 600;
            font-size: 29px;
            line-height: 27px;
            white-space: nowrap;
            min-width: 280px;

            @include for-768{
              font-size: 24px;
              min-width: 200px;
            }
          }

          .seo-block__table-red-txt {
            font-weight: 600;
            color: $red;
            font-size: 12px;
            line-height: 14px;
            padding-left: 25px;


            @include for-768{
              padding-left: 0;
              max-width: 300px;
              padding-top: 10px;
            }
          }
        }

        .seo-block__table-head-tab {
          background-color: #f2f2f2;

          td {
            padding: 15px 30px;
            text-align: center;
            color: $blue;
            font-weight: bold;
            font-size: 18px;

            @include for-768{
              padding: 10px 15px;
              font-size: 14px;
            }
          }
        }
      }

      tbody {

        tr {
          &:nth-child(even) {
            background-color: #fff5f5;
          }

          &:first-child {

            td {
              //color: $blue;
              //font-weight: 600;
              //font-size: 21px;
              //line-height: 27px;
              //padding-top: 30px;
              //padding-left: 0;
            }
          }
        }

        td {
          padding: 10px 20px;
          text-align: center;

          &:first-child {
            text-align: start;
          }

          @include for-768{
            padding: 10px;
          }

        }
      }

      tr {

        td {
          color: $grey;
          font-weight: 500;
        }
      }
    }
  }

  &__table-subtitle {
    background-color: transparent !important;

    td {
      padding-left: 0 !important;

      @include for-768{
        padding-left: 10px !important;
      }
    }

    span {
      color: $blue;
      font-weight: 600;
      font-size: 21px;
      line-height: 27px;
      display: block;
      padding-bottom: 15px;
    }
  }

  ul {
    margin-bottom: 30px;

    li {
      position: relative;
      color: #333333;
      line-height: 20px;
      padding-left: 55px;
      margin-bottom: 15px;

      @include for-768{
        padding-left: 40px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 18px;
        top: 6px;
        width: 15px;
        height: 6px;
        background: $red;
        border-radius: 5px;

        @include for-768{
          left: 6px;
        }
      }
    }
  }

  ol {
    margin-bottom: 30px;

    li {
      position: relative;
      color: #333333;
      line-height: 20px;
      padding-left: 55px;
      margin-bottom: 15px;

      counter-increment: step-counter;

      @include for-768{
        padding-left: 40px;
      }

      &:before {
        content: counter(step-counter);
        position: absolute;
        left: 12px;
        top: -5px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: $red;
        border: 2px solid $red;

        @include for-768{
          left: 0;
        }
      }
    }
  }
}

.questions{

  &__inner{

  }

  &__item{
    position: relative;
    border-radius: 21px;
    box-shadow: 0px 2px 15px 0px rgba(255, 25, 47, 0.4);
    padding: 25px 60px 10px;
    margin-bottom: 30px;
    cursor: pointer;

    @include for-768{
      padding: 15px 10px;
    }

    &.open{

      .questions__item-btn{
        transform: rotate(0);
      }

      .questions__txt{
        max-height: inherit;
        padding-bottom: 10px;
      }
    }
  }

  &__item-btn{
    position: absolute;
    cursor: pointer;
    transition: .2s;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    right: 30px;
    top: 25px;
    display: flex;
    background: url("../img/ico/cross.svg") center no-repeat;
    background-size: contain;

    @include for-768{
      right: 15px;
      top: 30px;
      height: 15px;
      width: 15px;
    }
  }

  &__name{
    font-size: 18px;
    font-weight: 600;
    color: $blue;
    padding-bottom: 15px;

    @include for-768{
      padding-right: 42px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__txt{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: .2s all;
    color: $blue;
    line-height: 20px;
    text-align: justify;
  }

}


.quote-block{

  &__inner{

  }

  &__content{
    position: relative;
    display: flex;
    padding: 30px 90px;
    background-color: #fff5f5;
    background-image: url("../img/ico/quotation.svg");
    background-position: 40px 45px;
    background-size: 35px;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    @include for-768{
      padding: 5px 15px 5px 60px;
      background-position: 15px 20px;
      background-size: 30px;
    }
  }

  &__txt, p{
    color: #000000;
    text-align: justify;
  }
}


.admonition{

  &__inner{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__content{
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $red;

    @include for-768{
      padding: 5px;
    }
  }

  &__ico{
    position: absolute;
    top: -17px;
    left: 20px;
    border-radius: 5px;
    width: 47px;
    height: 34px;
    background: $red url('../img/ico/exclam.png') center no-repeat;
    background-size: 6px;
  }

  &__txt{
    max-width: 550px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: $blue;
    line-height: 20px;
  }

}

.btn-block{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;

  @include for-768{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0;
    align-items: center;
  }

  &__btn{
    margin: 15px;
  }
}


.consultation{
  margin-bottom: 30px;

  &__form{
    background-color: #f3f4f6;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding: 30px;
    position: relative;
    overflow: hidden;

    @include for-992{
      background-image: url("")!important;
    }

    @include for-768{
      padding: 15px;
    }

    &.submitted {

      .consultation__message{
        z-index: 1;
        visibility: visible;
        opacity: 1;
      }

      @include for-992{

      }
    }
  }

  &__content{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 414px;

    @include for-768{
      width: 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  &__message{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .3s;
    background-color: #f0f1f3;

    span{
      text-align: center;
      font-size: 24px;
      color: $blue;
      font-weight: 600;

      @include for-992{
        font-size: 16px;
      }
    }

  }

  &__title{
    color: $blue;
    font-size: 39px;
    font-weight: 500;
    line-height: 45px;

    @include for-768{
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__desc{
    color: #333;
    line-height: 28px;
  }

  &__row{
    display: flex;
    margin: 12px 0;

    @include for-768{
      width: 100%;
    }
  }

  &__checkbox{
    display: flex;
    font-size: 12px;
    color: #333;

    span{
      padding-left: 20px;

      a{
        text-decoration: underline;
        color: #333;

        &:hover{
          color: $red;
        }
      }
    }
  }

  &__btn{
    padding-top: 15px;

    @include for-768{
      width: 100%;
    }
  }

  &__btn-i{
    @include for-550{
      max-width: 100%;
    }

  }

}




.footer{
  background: $blue;

  &__inner{
    display: flex;
  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;

    @include for-1100{
      flex-wrap: wrap;
    }
  }

  &__column{
    padding: 30px 15px;
    display: flex;
    height: 100%;
    align-items: center;

    @include for-1100{
      width: 50%;
      padding: 15px;
      height: auto;
      justify-content: center;
    }

    @include for-768{
      width: 100%;
    }
  }

  &__logo{
    display: flex;
    max-width: 255px;
    width: 100%;
  }

  &__logo-img{
    width: 100%;
  }

  &__address{
    display: flex;
    align-items: center;

    &:hover{

      .footer__address-ico{
        background-image: url("../img/ico/pin.svg");
      }
    }
  }

  &__address-ico{
    width: 28px;
    height: 36px;
    transition: .3s;
    background-image: url("../img/ico/pin-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 13px;
  }

  &__address-txt{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &__social-list{
    display: flex;
    margin: 0 -15px;
    justify-content: space-between;
  }

  &__social-item{
    padding: 0 15px;
    width: 25%;
  }

  &__social-link{
    width: 36px;
    height: 36px;
    display: flex;
    transition: .3s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &--vk{
      background-image: url("../img/ico/vk-white.svg");

      &:hover{
        background-image: url("../img/ico/vk.svg");
      }
    }

    &--fb{
      background-image: url("../img/ico/fb-white.svg");

      &:hover{
        background-image: url("../img/ico/fb.svg");
      }
    }

    &--inst{
      background-image: url("../img/ico/inst-white.svg");

      &:hover{
        background-image: url("../img/ico/inst.svg");
      }
    }

    &--ok{
      background-image: url("../img/ico/ok-white.svg");

      &:hover{
        background-image: url("../img/ico/ok.svg");
      }
    }
  }

  &__phone{
    display: flex;

    &:hover{

      .footer__phone-ico-i{
        background-image: url("../img/ico/phone-plus.svg");
      }

      .footer__phone-number-i{
        color: $red;
      }

    }

    @include for-768{
      transform: translateX(10px);
    }
  }

  &__phone-ico{

  }

  &__phone-ico-i{
    display: flex;
    width: 36px;
    height: 36px;
    background-image: url("../img/ico/phone-plus-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .2s;
  }

  &__phone-number{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  &__phone-number-i{
    font-size: 24px;
    font-weight: 500;
    color: white;
    transition: .2s;

    //&:hover{
    //  color: $red;
    //}

    @include for-768{
      font-size: 21px;
    }
  }

  &__phone-number-txt{
    font-size: 12px;
    font-weight: 500;
    color: white;
  }

}


//slick-fix

.slick-slide{

  &:focus{
    outline: none;
  }
}
//slick-fix end

