footer
	.site-container-wrap.footer
		.site-container.footer__inner
			.footer__list
				.footer__column
					a(href="/").footer__logo
						img(src="./img/logo-white.png" alt="logo").footer__logo-img
				.footer__column
					.footer__address
						.footer__address-ico
						.footer__address-txt г. Новосибирск,
							| <br>ул. Нижегородская, д.280
				.footer__column
					.footer__social-list
						.footer__social-item
							a(href="#").footer__social-link.footer__social-link--vk
						.footer__social-item
							a(href="#").footer__social-link.footer__social-link--fb
						.footer__social-item
							a(href="#").footer__social-link.footer__social-link--inst
						.footer__social-item
							a(href="#").footer__social-link.footer__social-link--ok
				.footer__column
					.footer__phone
						.footer__phone-ico
							.footer__phone-ico-i
						.footer__phone-number
							a(href="tel:+73833314050").footer__phone-number-i +7 (383) 331-40-50
							.footer__phone-number-txt Анонимная консультация нарколога

