header
  .site-container-wrap.header
    .site-container.header__inner
      .header__top
        .header__top-logo
          a(href="#").header__top-logo-link
            img(src="./img/logo.png" alt="logo").header__top-logo-img
        .header__top-phone
          .header__top-phone-ico
            .header__top-phone-ico-i
          .header__top-phone-number
            a(href="tel:+73833314050").header__top-phone-number-i +7 (383) 331-40-50
            .header__top-phone-number-txt Анонимная консультация нарколога
        .header__top-btn
          a(href="javascript:void(0);").site-btn.header__top-btn-i
            span Заказать звонок

        .header__top-menu
          a(href="javascript:void(0);").header__top-menu-btn#menu-btn
      .header__nav
        .header__nav-inner
          .nav
            .nav__item
              a(href="#").nav__link О нас
            .nav__item.nav__item--parent
              a(href="#").nav__link Лечение алкоголизма
              span.nav__subnav-btn
              .nav__subnav
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вывод из запоя на дому
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вывод из запоя в стационаре
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вызвать нарколога на дом
                .nav__subnav-item
                  a(href="#").nav__subnav-link Кодирование от алкоголизма
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вшивание Эспераль
                .nav__subnav-item
                  a(href="#").nav__subnav-link Реабилитация алкоголиков
            .nav__item.nav__item--parent
              a(href="#").nav__link Лечение наркомании
              span.nav__subnav-btn
              .nav__subnav
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вывод из запоя на дому
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вывод из запоя в стационаре
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вызвать нарколога на дом
                .nav__subnav-item
                  a(href="#").nav__subnav-link Кодирование от алкоголизма
                .nav__subnav-item
                  a(href="#").nav__subnav-link Вшивание Эспераль
                .nav__subnav-item
                  a(href="#").nav__subnav-link Реабилитация алкоголиков
            .nav__item
              a(href="#").nav__link Контакты
        .header__nav-phone
          .header__top-phone
            .header__top-phone-ico
              .header__top-phone-ico-i
            .header__top-phone-number
              a(href="tel:+73833314050").header__top-phone-number-i +7 (383) 331-40-50
              .header__top-phone-number-txt Анонимная консультация нарколога





