extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content
	//.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

		<picture>
			<source srcset="./img/awesomeWebPImage.webp" type="image/webp">
			<source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
			<img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
		</picture>

	div.main-wrap

		.dev-page(style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; flex-direction: column; min-height: calc(100vh - 300px);")
			a(href="/index1.html" style="padding: 5px 15px; font-size: 18px;") Медицинский центр
			a(href="/binge.html" style="padding: 5px 15px; font-size: 18px;") Выход из запоя